@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

#banner {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2.5em;
}

#title {
    text-align: center;
}

#title h1 {
    font-size: 5em;
    font-family: caveat;
    margin: 0.3em;
    margin-bottom: 0;
}

#title h2 {
    font-family: "Krona One";
    font-size: 1.2em;
}

#img-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.5em;
}

#img-div img {
    width: 100%;
}