@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

#title {
    display: flex;
    flex-direction: column;
}

#title h1 {
    font-family: 'caveat';
    font-size: 10vh;
    margin: auto;
}

#title h2 {
    font-family: 'krona one';
    font-size: 2.5vh;
    margin: auto;
}

#img-div {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 1vh;
}

#image {
    width: 80%; height: auto;
    border-radius: 5%;
    padding-bottom: 1.5vh;
}

@keyframes lift {
    
}