@media(max-width: 486px) {
    nav {
        justify-content: center;
    }
}

:root {
    --nav-color:  linear-gradient(to left top, #222225, #202325, #1f2324, #202322, #222320);
    --nav-text-color: rgba(243, 241, 242, 1);
    --nav-transition-color: rgba(243, 241, 242, 0.25);
}

nav {
    background: var(--nav-color);
    display: flex;
    position: fixed;
    font-size: larger;
    width: 100%; height: 50px;
    left: 0; top: 0;
    align-items: center;
    border-bottom: solid white;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--nav-text-color);
    margin-inline: 2vw;
    position: relative;
}

nav a:hover {
    animation-name: underline;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes underline {
    0% {
        text-decoration: underline;
        text-decoration-color: var(--nav-color);
    }

    50% {
        text-decoration: underline;
        text-decoration-color: var(--nav-transition-color);
    }
    
    100% {
        text-decoration: underline;
        text-decoration-color: var(--nav-text-color);
    }
}