
#navbar {
    display: flex;
    background-color: #131313;
    border-bottom: solid rgb(255, 255, 255);
    width: 100%;
    font-size: 1.1em;
    position: fixed;
    top: 0; left: 0; right: 0;
}

#navbar-list {
    list-style-type: none;
}

#navbar-list li {
    display: inline-block;
    margin-inline: 0.4em;
}

html {
    scroll-behavior: smooth;
}